<app-offline-table [customActions]="customActions" [displayedColumns]="displayedColumns" [gridData]="gridData" (actionsEvent)="actionsEvent($event)"></app-offline-table>

<ng-template #changeStatusModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{"TITLE."+eventStatus+"_ORDER" | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="order-details-row">
            <div [ngTemplateOutlet]="orderDetailsView"></div>
        </div>
        <hr/>
        <form *ngIf="eventStatus === 'ACCEPT' || eventStatus === 'SEND'" class="form" [formGroup]="acceptOrderForm" novalidate="novalidate" (ngSubmit)="acceptOrder()">
            <div class="row">
                <div class="col-12">
                    <div class="mb-1">
                        <mat-form-field class="w-100">
                            <mat-select class="py-1" formControlName="branchId" placeholder="{{'INPUT.SELECT_BRANCH' | translate }}" required>
                                <mat-option [value]="''">{{'INPUT.SELECT_BRANCH' | translate }}</mat-option>
                                <mat-option *ngFor="let branch of branches" [value]="branch.id">
                                    {{branch.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-1">
                        <mat-form-field class="w-100">
                            <mat-select class="py-1" formControlName="driverId" placeholder="{{'INPUT.ASSEIGN_DRIVER' | translate }}">
                                <mat-option>
                                    <ngx-mat-select-search (keyup)="search($event.target.value,'drivers')" (keydown)="$event.stopPropagation()"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option [value]="''">{{'INPUT.ASSEIGN_DRIVER' | translate }}</mat-option>
                                <mat-option *ngFor="let driver of drivers" [value]="driver.driverId" [ngClass]="{'d-none': !driver?.driverName?.toLowerCase().includes(driversFilter?.toLowerCase())}">
                                    <div class="d-flex align-items-center">
                                        {{driver.driverName}}
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-1">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>{{'INPUT.CHOOSE_ESTIMATED_DELIVERY_DATE' | translate}}</mat-label>
                            <input matInput formControlName="expectedDeliveryDate" [min]="minDate" [matDatepicker]="dp3" disabled required>
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <mat-error *ngIf="acceptOrderForm.controls.expectedDeliveryDate.invalid">{{'VALIDATION.EXPECTED_DELIVERY_DATE' | translate}}</mat-error>
                    </div>
                </div>
            </div>
        </form>
        <form *ngIf="eventStatus === 'REJECT'" class="form" [formGroup]="rejectOrderForm" novalidate="novalidate" (ngSubmit)="rejectOrder()">
            <div class="row">
                <div class="col-12">
                    <div class="mb-1">
                        <mat-form-field class="w-100">
                            <input class="py-1" type="text" matInput placeholder="{{'INPUT.REASON_OF_REJECT' | translate}}" formControlName="notes" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <form *ngIf="eventStatus === 'DELIVERED'" class="form" [formGroup]="sentOrderForm" novalidate="novalidate" (ngSubmit)="deliverOrder()">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-1">
                        <mat-form-field class="w-100">
                            <mat-select class="py-1" formControlName="driverId" placeholder="{{'INPUT.ASSEIGN_DRIVER' | translate }}">
                                <mat-option>
                                    <ngx-mat-select-search (keyup)="search($event.target.value,'drivers')" (keydown)="$event.stopPropagation()"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option [value]="''">{{'INPUT.ASSEIGN_DRIVER' | translate }}</mat-option>
                                <mat-option *ngFor="let driver of drivers" [value]="driver.driverId" [ngClass]="{'d-none': !driver?.driverName?.toLowerCase().includes(driversFilter?.toLowerCase())}">
                                    <div class="d-flex align-items-center">
                                        {{driver.driverName}}
                                    </div>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-1">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>{{'INPUT.CHOOSE_DELIVERY_DATE' | translate}}</mat-label>
                            <input matInput formControlName="deliveryDate" [min]="getCreatedOn()" [max]="minDate" [matDatepicker]="dp3" disabled required>
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="acceptOrderForm.invalid" *ngIf="eventStatus === 'ACCEPT' || eventStatus === 'SEND'" class="btn btn-primary" (click)="acceptOrder()">{{"INPUT."+eventStatus | translate}}</button>
        <button type="submit" [disabled]="sentOrderForm.invalid" *ngIf="eventStatus === 'DELIVERED'" class="btn btn-primary" (click)="deliverOrder()">{{"INPUT."+eventStatus | translate}}</button>
        <button type="submit" [disabled]="rejectOrderForm.invalid" *ngIf="eventStatus === 'REJECT'"  class="btn btn-primary" (click)="rejectOrder()">{{"INPUT."+eventStatus | translate}}</button>
        <button type="button" *ngIf="eventStatus === 'RESET'"  class="btn btn-primary" (click)="resetOrder()">{{"INPUT."+eventStatus | translate}}</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{"INPUT.CLOSE" | translate}}</button>
    </div>
</ng-template>

<ng-template #orderDetailsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{"TITLE.ORDER_DETAILS" | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body order-details-row">
        <div id="contentToConvert">
            <div [ngTemplateOutlet]="orderDetailsView"></div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" (click)="generatePDF()">{{'INPUT.EXPORT_PDF' | translate}}</button> -->
        <button type="button" *ngIf="eventStatus === 'VIEW'" class="btn btn-secondary" (click)="print()">{{'INPUT.PRINT' | translate}}</button>
        <button type="button" *ngIf="eventStatus === 'EDIT'" class="btn btn-primary" (click)="updateOrderItems()">{{"INPUT.SAVE" | translate}}</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{"INPUT.CLOSE" | translate}}</button>
    </div>
</ng-template>

<ng-template #orderDetailsView>
    <div class="row">
        <div class="col-md-6 mb-3">
            <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.ORDER_NUMBER' | translate}}</span>: {{orderDetails?.orderNumber || '----'}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.CUSTOMER_NAME' | translate}}:</span> {{orderDetails?.name || '----'}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.CUSTOMER_EMAIL' | translate}}:</span> {{orderDetails?.email || '----'}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.CUSTOMER_PHONE_NUMBER' | translate}}:</span> {{orderDetails?.phone || '----'}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <p class="mb-0"><span class="font-weight-boldest mr-3">{{'TABLE.CREATEDON' | translate}}:</span> {{getDateTimeFormat(orderDetails?.createdOn)}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.ESTIMATED_DELIVERY_DATE' | translate}}:</span> {{getDateFormat(orderDetails?.expectedDeliveryDate)}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.DELIVERY_DATE' | translate}}:</span> {{getDateFormat(orderDetails?.deliveryDate)}}</p>
        </div>
        <div class="col-md-6 mb-3">
            <p class="mb-0"><span class="font-weight-boldest mr-3">{{'TITLE.NOTES' | translate}}:</span> {{orderDetails?.statusNotes || '----'}}</p>
            <p class="mb-0">{{orderDetails?.noteToBuyer || ''}}</p>
        </div>
        <div class="col-12 mb-0">
            <p class="font-weight-boldest mt-3 mx-6 mb-0">{{'INPUT.ITEMS_LIST' | translate}}</p>
        </div>
        <table class="table table-bordered print-friendly mx-6">
            <tbody>
                <tr>
                    <td class="text-left font-weight-boldest">{{'INPUT.ITEM_NAME' | translate}}</td>
                    <td class="text-center font-weight-boldest">{{'INPUT.QUANTITY' | translate}}</td>
                    <td class="text-center font-weight-boldest">{{'INPUT.UNIT_PRICE' | translate}} ({{orderDetails?.currencyName || '----'}})</td>
                    <td class="text-center font-weight-boldest">{{'TABLE.TAX' | translate}}</td>
                    <td *ngIf="eventStatus === 'EDIT'" class="text-center font-weight-boldest">{{'TABLE.DISCOUNT' | translate}}</td>
                    <td class="text-center font-weight-boldest">{{'INPUT.LINE_TOTAL' | translate}} ({{orderDetails?.currencyName || '----'}})</td>
                </tr>
                <tr  *ngFor="let item of orderDetails?.orderDetailItems">
                    <td class="text-left">{{item?.productName || '----'}}, {{item?.productDescription}}</td>
                    <td *ngIf="eventStatus !== 'EDIT'" class="text-center">{{item?.quantity}}</td>
                    <td *ngIf="eventStatus === 'EDIT'" class="text-center"><input min="0" (change)="changeQuantity($event, item?.productId)" class="text-center w-70px" type="number" value="{{item?.quantity}}"></td>
                    <td *ngIf="eventStatus !== 'EDIT'" class="text-center">{{(item?.preTaxPrice - item?.unitPriceDiscount).toFixed(2) || '----'}}</td>
                    <td *ngIf="eventStatus === 'EDIT'" class="text-center">{{(item?.preTaxPrice - item?.unitPriceDiscount).toFixed(2)}}</td>
                    <td class="text-center">{{(((item?.preTaxPrice - item?.unitPriceDiscount) * (item?.tax/100)) * item.quantity)?.toFixed(2)}} ({{item.tax}}%)</td>
                    <td *ngIf="eventStatus === 'EDIT'" class="text-center"><input min="0" (change)="changeUnitPrice($event, item?.productId)" class="text-center w-70px" value="{{item?.unitPriceDiscount}}" type="number"></td>
                    <!-- <td *ngIf="eventStatus === 'EDIT'" class="text-center">{{item?.postTaxLineTotal || '----'}}</td> -->
                    <td class="text-center">{{item?.postTaxPriceLineTotalAfterDiscount || '----'}}</td>
                </tr>
                <tr>
                    <td class="text-right font-weight-boldest no-border">{{'INPUT.TOTAL_QUANTITIES' | translate}}</td>
                    <td class="text-center">{{getTotalQuantity(orderDetails?.orderDetailItems)}}</td>
                    <td *ngIf="eventStatus === 'EDIT'" class="text-right font-weight-boldest no-border" colspan="3">{{'INPUT.TOTAL_DUE_AMOUNT' | translate}}</td>
                    <td *ngIf="eventStatus !== 'EDIT'" class="text-right font-weight-boldest no-border" colspan="1">{{'INPUT.TOTAL_DUE_AMOUNT' | translate}}</td>
                    <td class="text-center">{{(orderDetails?.totalDueAmount.toFixed(2) + ' ' + orderDetails?.currencyName) || '----'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="col-12 mb-0">
            <p *ngIf="eventStatus !== 'EDIT'" class="px-2">{{'TITLE.TAX_VALUE' | translate}} {{orderDetails?.totalLineTaxAmount}} {{orderDetails?.currencyName}}</p>
            <p *ngIf="eventStatus === 'EDIT'" class="px-2">{{'TITLE.TAX_VALUE' | translate}}: {{getTax()}} ({{orderDetails?.currencyName}})</p>
        </div>
    </div>
</ng-template>