<div class="card card-custom example-preview">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">{{ "MENU.ROLS_LIST" | translate }}</h3>
        </div>
        <div *ngIf="this.permissions.includes('Roles.CreateRole')" class="d-flex align-items-center">
            <a routerLink="add-rol" class="btn btn-primary">{{ "MENU.ADD_ROLE" | translate }} <i
          class="flaticon2-plus icon-sm ml-2"></i></a>
        </div>
    </div>
    <div class="card-body">
        <app-offline-table [customActions]="customActions" [displayedColumns]="displayedColumns" [gridData]="gridData" (actionsEvent)="actionsEvent($event)"></app-offline-table>
        <!-- <app-dynamic-table [customActions]="customActions" [displayedColumns]="displayedColumns" [pagingData]="pagingData" [gridData]="gridData"
    (actionsEvent)="actionsEvent($event)" (changePagingEvent)="changePagingEvent($event)" (filterEvent)="filterEvent($event)" (sortEvent)="sortEvent($event)"></app-dynamic-table> -->
    </div>
</div>

<ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Warning</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p>

            {{'INPUT.WARING' | translate}}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="confirmDeleteRol()">Delete Role</button>
    </div>
</ng-template>