<div>
    <form class="form" [formGroup]="tokenSettings" novalidate="novalidate" (ngSubmit)="submit()">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="mb-4">
                    <mat-form-field class="w-100">
                        <input class="py-1" type="number" matInput placeholder="{{'INPUT.TOKEN_EXPIRY' | translate }}" formControlName="accessTokenExpiryTime" />
                    </mat-form-field>
                </div>
                <div class="mb-4">
                    <mat-form-field class="w-100">
                        <input class="py-1" type="number" matInput placeholder="{{'INPUT.TOKEN_EXPIRY_TIME' | translate }}" formControlName="refreshTokenExpiryTime" />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" [disabled]="tokenSettings.invalid">
                {{'INPUT.SAVE' | translate }}
            </button>
        </div>
    </form>
</div>