<div class="card card-custom example example-compact gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <form class="form" [formGroup]="changePassword" novalidate="novalidate" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-4">
                                <mat-form-field class="w-100">
                                    <input class="py-2" type="password" matInput placeholder=" {{ 'INPUT.OLD_PASSWORD' | translate }}" formControlName="oldPassword" />
                                    <mat-error [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                        validation: 'required',
                                        message:'AUTH.VALIDATION.OLD_PASS' | translate,
                                        control: changePassword.controls['oldPassword']
                                        }"></mat-error>
                                </mat-form-field>
                            </div>
                            <div class="mb-4">
                                <mat-form-field class="w-100">
                                    <input class="py-2" type="password" matInput placeholder=" {{ 'INPUT.NEW_PASSWORD' | translate }}" formControlName="password" />
                                    <mat-error [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                        validation: 'minlength',
                                       message:'AUTH.VALIDATION.PASSMIN_LENGTH' | translate,
                                        control: changePassword.controls['password']
                                        }"></mat-error>
                                    <mat-error [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                        validation: 'required',
                                        
                                         message:'AUTH.VALIDATION.NEW_PASS' | translate,
                                        control: changePassword.controls['password']
                                        }"></mat-error>
                                </mat-form-field>
                            </div>
                            <div class="mb-4">
                                <mat-form-field class="w-100">
                                    <input class="py-2" type="password" matInput placeholder=" {{ 'INPUT.PASSWORD_CONFIRMATION' | translate }}" formControlName="cPassword" />
                                    <mat-error [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                        validation: 'required',
                                         message:'AUTH.VALIDATION.CONFIRM_PASS' | translate,
                                        control: changePassword.controls['cPassword']
                                        }"></mat-error>
                                    <mat-error [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                        validation: 'ConfirmPassword',
                                        message:'AUTH.VALIDATION.CONFIRM_PASS_FIELD' | translate,
                                        control: changePassword.controls['cPassword']
                                        }"></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" [disabled]="changePassword.invalid">
                            {{ 'INPUT.SAVE' | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <mat-error *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                {{ message }}
            </div>
        </div>
    </mat-error>
</ng-template>