<div class="row">
    <div class="col-12" *ngIf="userData">
        <form class="form" [formGroup]="userForm" novalidate="novalidate" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-md-12">
                    <div class=" mb-md-5 mb-3 d-flex align-items-center flex-wrap">
                        <div class="my-profile-img" style="background-image: url('{{selectedImageUrl || defaultImage}}');">
                        </div>
                        <div>
                            <button type="button" (click)="changePhoto()" class="btn btn-default mx-sm-4 mx-3 c-white border-white d-block
                                mb-3">{{'INPUT.CHANGE_PHOTO' | translate}}</button>
                            <button *ngIf="selectedImageUrl" type="button" (click)="removePhoto()" class="btn btn-default mx-sm-4 mx-3 c-white
                                border-white">{{'INPUT.REMOVE_PHOTO' | translate}}</button>
                        </div>
                        <input id="photoInput" type="file" accept=".PNG,.JPEG,.jpg" (change)="readURL($event)" class="d-none" placeholder="{{'INPUT.ENTERPHOTO' | translate}} ">
                        <p *ngIf="errorImageSize" class="c-red mb-0">
                            {{'VALIDATION.IMG_VAL_FIELD' | translate}}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-4">
                        <mat-form-field class="w-100">
                            <input class="py-1" type="text" matInput placeholder="{{'INPUT.EMAIL' | translate}}" formControlName="email" readonly/>
                        </mat-form-field>
                    </div>
                    <div class="mb-4">
                        <mat-form-field class="w-100">
                            <input class="py-1" type="text" matInput placeholder="{{'INPUT.FIRST_NAME' | translate}}" formControlName="name" required/>
                        </mat-form-field>
                    </div>
                    <div class="mb-4">
                        <mat-form-field class="w-100">
                            <input class="py-1" type="text" matInput placeholder="{{'INPUT.LAST_NAME' | translate}}" formControlName="surname" required/>
                        </mat-form-field>
                    </div>
                    <div class="mb-4">
                        <mat-form-field class="w-100">
                            <input class="py-1" type="text" matInput placeholder="{{'INPUT.PHONE_NUMBER' | translate}}" formControlName="phoneNumber" />
                            <mat-error [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                validation: 'pattern',
                               message:'AUTH.VALIDATION.PHONE_MSG' | translate,
                                control: userForm.controls['phoneNumber']
                                }"></mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
                    {{ 'INPUT.SAVE' | translate }}
                </button>
            </div>
        </form>
    </div>
</div>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <mat-error *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                {{ message }}
            </div>
        </div>
    </mat-error>
</ng-template>