<div class="container">
    <div class="row authSection">
        <div class="col-12 py-5">
            <h1 class="text-center mb-4">{{'TITLE.THANK_YOU_FOR_REGISTER' | translate}}<br>{{'TITLE.YOUR_EMAIL_IS_CONFIGURED' | translate}}</h1>
            <div class="text-center">                
                <a routerLink="auth/login" class="btn btn-primary px-4 mx-auto">
                    {{'INPUT.BACK_TO_LOGIN' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>