<div>
    <form class="form" [formGroup]="passwordSettings" novalidate="novalidate" (ngSubmit)="submit()">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="mb-4">
                    <mat-form-field class="w-100">
                        <input class="py-1" type="number" matInput placeholder="Required length" formControlName="requireLength"/>    
                    </mat-form-field>
                </div>
                <div class="mb-4">
                    <mat-form-field class="w-100">
                        <input class="py-1" type="number" matInput placeholder="Required unique characters" formControlName="requireUniqueCharacters"/>    
                    </mat-form-field>
                </div>
                <div class="mb-5">
                    <mat-checkbox formControlName="requireDigits">Require digits</mat-checkbox>  
                </div>
                <div class="mb-5">
                    <mat-checkbox formControlName="requireLowerCaseChar">Require lowercase characters</mat-checkbox>  
                </div>
                <div class="mb-5">
                    <mat-checkbox formControlName="requirenonAlphanumeric">Require non-alphanumeric</mat-checkbox>  
                </div>
                <div class="mb-5">
                    <mat-checkbox formControlName="requireUpperCaseChar">Require uppercase characters</mat-checkbox>  
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" [disabled]="passwordSettings.invalid">
                Save
            </button>
        </div>
    </form>
</div>