<div>
    <form class="form" [formGroup]="passwordSettings" novalidate="novalidate" (ngSubmit)="submit()">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="mb-4">
                    <mat-form-field class="w-100">
                        <input class="py-1" type="number" matInput placeholder="{{'INPUT.Reqlength' | translate }}" formControlName="requireLength" />
                    </mat-form-field>
                </div>
                <div class="mb-4">
                    <mat-form-field class="w-100">
                        <input class="py-1" type="number" matInput placeholder="{{'INPUT.Reqcharacters' | translate }}" formControlName="requireUniqueCharacters" />
                    </mat-form-field>
                </div>
                <div class="mb-5">
                    <mat-checkbox formControlName="requireDigits">{{'INPUT.Reqdigits' | translate }}</mat-checkbox>
                </div>
                <div class="mb-5">
                    <mat-checkbox formControlName="requireLowerCaseChar">{{'INPUT.Reqlowercase' | translate }}
                    </mat-checkbox>
                </div>
                <div class="mb-5">
                    <mat-checkbox formControlName="requirenonAlphanumeric">{{'INPUT.Reqnonalphanumeric' | translate }}
                    </mat-checkbox>
                </div>
                <div class="mb-5">
                    <mat-checkbox formControlName="requireUpperCaseChar">{{'INPUT.Requppercasecharacters' | translate }}
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" [disabled]="passwordSettings.invalid">
                {{'INPUT.SAVE' | translate }}
            </button>
        </div>
    </form>
</div>