<div *ngIf="!rfqItems?.length && endReq">
    <div class="container">
        <h4 class="text-center py-5">{{'TITLE.NO_ITEMS_FOUND' | translate}}</h4>
    </div>
</div>

<div class="container cart block py-4" *ngIf="rfqItems?.length">
    <mat-accordion>
        <ng-container *ngFor="let item of rfqItems; let i = index">
            <mat-expansion-panel class="mb-2">
                <mat-expansion-panel-header (click)="seen(item)" class="py-2" [ngClass]="{ 'not-seen': !item?.seen }">
                    <div class="d-flex align-items-center w-100">
                        <div class="cyrcle border overflow-hidden w-50px h-50px d-flex align-items-center">
                            <img class="w-100 h-100" src="{{ item?.logo }}" alt="{{ item?.customerName }}">
                        </div>
                        <div class="px-3 flex-fill">
                            <p class="mb-0 small-text font-weight-bolder">{{ item?.companyName }} <span class="small-text">({{ item?.rfqDetailsItems.length }})</span></p>
                            <p class="mb-0 small-text font-weight-bolder">{{ item?.customerName }}</p>
                            <p class="mb-0 small-text font-weight-bolder phone-number">{{ item?.customerPhone }}</p>
                        </div>
                        <button class="btn btn-success mx-5" (click)="getDataToPrint($event, item?.id)">{{'INPUT.PRINT' | translate}}</button>
                    </div>
                </mat-expansion-panel-header>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="pt-3">
                                <table class="table w-100 table mb-0">
                                    <thead class="cart-table__head">
                                        <tr class="cart-table__row">
                                            <th>{{'TABLE.IMAGE' | translate}}</th>
                                            <th>{{'TABLE.PRODUCT' | translate}}</th>
                                            <th>{{'TABLE.PRICE' | translate}} <span class="small-text">({{item?.currencyName}})</span></th>
                                            <th>{{'TABLE.UNIT_PRICE_AFTER_TAX' | translate}} ({{item?.currencyName || '----'}})</th>
                                            <th>{{'TABLE.QUANTITY' | translate}}</th>
                                            <th>{{'TABLE.TOTAL' | translate}} <span class="small-text">({{item?.currencyName}})</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="cart-table__body">
                                        <tr *ngFor="let item2 of item?.rfqDetailsItems" class="cart-table__row">
                                            <td class="cart-table__column cart-table__column--image">
                                                <div *ngIf="item2?.productImage" class="product-image">
                                                    <span class="product-image__body">
                                                        <img class="w-50px h-40px" [src]="item2?.productImage" alt="{{ item2?.productName }}">
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="cart-table__column cart-table__column--product">
                                                <span class="cart-table__product-name">{{ item2?.productName }}</span>
                                            </td>
                                            <td class="cart-table__column cart-table__column--price text-center" data-title="Price">
                                                <input *ngIf="statusId === '246882C8-3172-41CA-81E5-68E91AFE484E'" min="0" (change)="changeUnitPrice($event, item2, item)" class="text-center w-70px" value="{{item2?.preTaxPrice}}" type="number">
                                                <span *ngIf="statusId !== '246882C8-3172-41CA-81E5-68E91AFE484E'">{{ item2?.preTaxPrice }}</span>
                                            </td>
                                            <td class="cart-table__column cart-table__column--price text-center" data-title="Price">{{ getPriceAfterTax(item2) }}</td>
                                            <td class="cart-table__column cart-table__column--quantity text-center" data-title="Quantity">
                                                {{item2?.quantity}}
                                            </td>
                                            <td class="cart-table__column cart-table__column--total text-center" data-title="Total">{{ getLinetotal(item2) }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right font-weight-boldest no-border" colspan="5">{{'INPUT.TOTAL_DUE_AMOUNT' | translate}}</td>
                                            <td class="text-center">{{(getTotalDueAmmount(item) + ' ' + item?.currencyName) || '----'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <p *ngIf="item?.noteToSeller">{{'INPUT.BUYER_NOTES' | translate}}: {{item?.noteToSeller}}</p>
                                    <p *ngIf="item?.noteToBuyer">{{'INPUT.SELLER_NOTES' | translate}}: {{item?.noteToBuyer}}</p>
                                </div>
                                <div class="row" *ngIf="statusId === '246882C8-3172-41CA-81E5-68E91AFE484E'">
                                    <mat-form-field class="col-md-6">
                                        <input dir="ltr" readonly matInput [ngxMatDatetimePicker]="picker" placeholder="{{'INPUT.CHOOSE_EXPIRY_DATE_AND_TIME' | translate}}"
                                          [min]="minDate" [disabled]="'false'"  id="expiry{{i}}" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <ngx-mat-datetime-picker #picker 
                                          [enableMeridian]="'true'" >
                                          <ng-template>
                                            <span>{{'INPUT.SELECT' | translate}}</span>
                                          </ng-template>
                                        </ngx-mat-datetime-picker>
                                    </mat-form-field>
                                </div>
                                <div class="text-center" *ngIf="statusId === '246882C8-3172-41CA-81E5-68E91AFE484E'">
                                    <textarea class="form-control mb-3" id="note-to-buyer{{i}}" rows="4" placeholder="{{'INPUT.WRITE_NOTE_TO_BUYER' | translate}}"></textarea>
                                </div>
                                <div class="text-center" *ngIf="statusId === '246882C8-3172-41CA-81E5-68E91AFE484E'">
                                    <button [disabled]="checkDisabled(i)" type="button" class="btn btn-primary mx-1" (click)="acceptRfq(item,i)">
                                        {{'INPUT.ACCEPT_REQUEST' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-danger mx-1" (click)="deleteRfq(item.id)">
                                        {{'INPUT.REJECT_REQUEST' | translate}}
                                    </button>
                                </div>
                                <div class="text-center" *ngIf="statusId === '9A62E8AD-E482-4029-9641-6A169C6DE598'">
                                    <a routerLink="/orders/all/{{item?.orderNumber}}" class="btn btn-primary mx-1">
                                        {{'INPUT.VIEW_ORDER' | translate}}
                                    </a>
                                </div>
                                <p class="h4 c-red fort-weight-bold" id="expiry-remaining{{i}}" *ngIf="statusId === '57CD94B0-BD05-4A99-82E3-BCCA10E1D638'">
                                    {{timeDifference(item?.rfqExpiryDate)}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>
</div>

<ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'INPUT.REJECT_REQUEST' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            {{'TITLE.ARE_YOU_SURE_REJECT_RFQ' | translate}}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'INPUT.CLOSE' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="rejectRequest()">{{'INPUT.REJECT_REQUEST' | translate}}</button>
    </div>
</ng-template>

<ng-template #acceptModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'INPUT.ACCEPT_REQUEST' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            {{'TITLE.ARE_YOU_SURE_ACCEPT_RFQ' | translate}}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'INPUT.CLOSE' | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="acceptRequest()">{{'INPUT.ACCEPT_REQUEST' | translate}}</button>
    </div>
</ng-template>

<div class="d-none">
    <div id="contentToConvert">
        <div [ngTemplateOutlet]="orderDetailsView"></div>
    </div>
    <ng-template #orderDetailsView>
        <div class="logo-container">        
            <div id="company_logo" class="d-flex align-items-center mx-3">
                <img alt="Logo" class="company-logo h-auto w-50px mx-3" src="{{orderDetails?.logo}}">
            </div>
            <h6 class="text-center mb-0">{{orderDetails?.companyName}}</h6>
            <p class="text-right">{{'TITLE.FILE_TAX_NUMBER' | translate}}: {{orderDetails?.taxFileNumber || '-----'}}</p>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3" *ngIf="orderDetails?.orderNumber">
                <p class="mb-0"><span class="font-weight-boldest mr-3">{{'TITLE.RFQ_NUMBER' | translate}}</span>: {{orderDetails?.orderNumber || '----'}}</p>
            </div>
            <div class="col-md-6 mb-3" *ngIf="orderDetails?.buyerCompanyName">
                <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.BUYER_COMPANY_NAME' | translate}}:</span><img *ngIf="orderDetails?.buyerCompanyLogo" src="{{orderDetails?.buyerCompanyLogo}}" class="buyer-logo" alt="">{{orderDetails?.buyerCompanyName || '----'}}</p>
            </div>
            <div class="col-md-6 mb-3" *ngIf="orderDetails?.name">
                <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.CUSTOMER_NAME' | translate}}:</span> {{orderDetails?.name || '----'}}</p>
            </div>
            <div class="col-md-6 mb-3" *ngIf="orderDetails?.email">
                <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.CUSTOMER_EMAIL' | translate}}:</span> {{orderDetails?.email || '----'}}</p>
            </div>
            <div class="col-md-6 mb-3" *ngIf="orderDetails?.phone">
                <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.CUSTOMER_PHONE_NUMBER' | translate}}:</span> <span class="phone-number">{{orderDetails?.phone || '----'}}</span></p>
            </div>
            <div class="col-md-6 mb-3" *ngIf="orderDetails?.createdOn">
                <p class="mb-0"><span class="font-weight-boldest mr-3">{{'TABLE.CREATEDON' | translate}}:</span> {{getDateFormat(orderDetails?.createdOn)}} {{getDateTimeFormat(orderDetails?.createdOn)}}</p>
            </div>
            <div class="col-md-6 mb-3" *ngIf="orderDetails?.expectedDeliveryDate">
                <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.ESTIMATED_DELIVERY_DATE' | translate}}:</span> {{getDateFormat(orderDetails?.expectedDeliveryDate)}}</p>
            </div>
            <div class="col-md-6 mb-3" *ngIf="orderDetails?.deliveryDate">
                <p class="mb-0"><span class="font-weight-boldest mr-3">{{'INPUT.DELIVERY_DATE' | translate}}:</span> {{getDateFormat(orderDetails?.deliveryDate)}}</p>
            </div>
            <div class="col-md-6 mb-3">
                <p class="mb-0" *ngIf="orderDetails?.noteToSeller"><span class="font-weight-boldest mr-3">{{'INPUT.BUYER_NOTES' | translate}}:</span> {{orderDetails?.noteToSeller || '----'}}</p>
                <p class="mb-0" *ngIf="orderDetails?.noteToBuyer"><span class="font-weight-boldest mr-3">{{'INPUT.SELLER_NOTES' | translate}}:</span> {{orderDetails?.noteToBuyer || '----'}}</p>
            </div>
            <div class="col-md-6 mb-3" *ngIf="orderDetails?.branchName">
                <p class="mb-0"><span class="font-weight-boldest mr-3">{{'TITLE.BRANCH' | translate}}:</span> {{orderDetails?.branchName || '----'}}</p>
            </div>
            <div class="col-md-12 mb-3" *ngIf="orderDetails?.shippingAddress?.cityName">
                <p class="font-weight-boldest mb-1">{{'INPUT.CUSTOMER_SHIPPING_ADDRESS' | translate}}:</p>
                <div class="border mb-3 px-4 pt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-2"><span class="font-weight-boldest mb-3">{{'INPUT.NAME' | translate}}:</span> {{orderDetails?.shippingAddress?.firstName}} {{orderDetails?.shippingAddress?.lastName}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-2"><span class="font-weight-boldest mb-3">{{'INPUT.PHONE_NUMBER' | translate}}:</span> {{orderDetails?.shippingAddress?.phoneNumber || '----'}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-2"><span class="font-weight-boldest mb-3">{{'INPUT.ADDRESS_LINE_1' | translate}}:</span> {{orderDetails?.shippingAddress?.addressLine1 || '----'}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-2"><span class="font-weight-boldest mb-3">{{'INPUT.ADDRESS_LINE_2' | translate}}:</span> {{orderDetails?.shippingAddress?.addressLine2 || '----'}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-0"><span class="font-weight-boldest mb-3">{{'INPUT.CITY' | translate}}:</span> {{orderDetails?.shippingAddress?.cityName || '----'}}</p>
                        </div>
                    </div>
                    <br>
                </div>        </div>
            <div class="col-12 mb-0">
                <p class="font-weight-boldest mt-3 mb-0">{{'INPUT.ITEMS_LIST' | translate}}</p>
                <table class="table table-bordered print-friendly">
                    <tbody>
                        <tr>
                            <td class="text-left font-weight-boldest">{{'INPUT.ITEM_NAME' | translate}}</td>
                            <td class="text-center font-weight-boldest">{{'INPUT.QUANTITY' | translate}}</td>
                            <td class="text-center font-weight-boldest">{{'INPUT.UNIT_PRICE' | translate}} ({{orderDetails?.currencyName || '----'}})</td>
                            <td class="text-center font-weight-boldest">{{'TABLE.TAX' | translate}}</td>
                            <td class="text-center font-weight-boldest">{{'INPUT.LINE_TOTAL' | translate}} ({{orderDetails?.currencyName || '----'}})</td>
                        </tr>
                        <tr  *ngFor="let item of orderDetails?.orderDetailItems">
                            <td class="text-left">{{item?.productName || '----'}}, {{item?.productDescription}}</td>
                            <td class="text-center">{{item?.quantity}}</td>
                            <td class="text-center">{{(item?.preTaxPrice - item?.unitPriceDiscount).toFixed(2) || '----'}}</td>
                            <td class="text-center">{{(((item?.preTaxPrice - item?.unitPriceDiscount) * (item?.tax/100)) * item?.quantity)?.toFixed(2)}} ({{item.tax}}%)</td>
                            <td class="text-center">{{item?.postTaxPriceLineTotalAfterDiscount || '----'}}</td>
                        </tr>
                        <tr>
                            <td class="text-right font-weight-boldest no-border">{{'INPUT.TOTAL_QUANTITIES' | translate}}</td>
                            <td class="text-center">{{getTotalQuantity(orderDetails?.orderDetailItems)}}</td>
                            <td class="text-right font-weight-boldest no-border" colspan="2">{{'INPUT.TOTAL_DUE_AMOUNT' | translate}}</td>
                            <td class="text-center">{{(orderDetails?.totalDueAmount.toFixed(2) + ' ' + orderDetails?.currencyName) || '----'}}</td>
                        </tr>
                    </tbody>
                </table>
                <p>{{'TITLE.TAX_VALUE' | translate}} {{orderDetails?.totalLineTaxAmount}} {{orderDetails?.currencyName}}</p>
            </div>
        </div>
    </ng-template>
</div>