<div class="card card-custom example example-compact gutter-b">
    <div class="card-body">
        <form [formGroup]="FilterForm" novalidate="novalidate">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <mat-form-field class="w-100">
                        <mat-select class="py-1" formControlName="customerId" (selectionChange)="changeCustomer($event)" placeholder="{{'INPUT.SELECT_CUSTOMER' | translate }}">
                            <mat-option>
                                <ngx-mat-select-search (keyup)="search($event.target.value,'customers')" (keydown)="$event.stopPropagation()"></ngx-mat-select-search>
                            </mat-option> 
                            <mat-option [value]="null">{{'INPUT.FILTER_BY' | translate }}</mat-option>
                            <mat-option *ngFor="let customer of customers" [value]="customer.id"  [ngClass]="{'d-none': !customer?.name?.toLowerCase().includes(customersFilter?.toLowerCase())}">
                                {{customer.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="w-100">
                        <mat-select class="py-1" formControlName="branchId" (selectionChange)="changeBranch($event)" placeholder="{{'INPUT.SELECT_BRANCH' | translate }}">
                            <mat-option [value]="null">{{'INPUT.SELECT_BRANCH' | translate }}</mat-option>
                            <mat-option *ngFor="let branch of branches" [value]="branch.id">
                                {{branch.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field class="w-100">
                        <mat-select formControlName="durationType" (selectionChange)="changeFilterType($event)" class="py-1" placeholder="{{'INPUT.SELECT_DURATION' | translate}}">
                            <mat-option [value]="null">{{'INPUT.FILTER_BY' | translate}}</mat-option>
                            <mat-option *ngFor="let item of filter" [value]="item.id">
                                {{'INPUT.'+item.name | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label *ngIf="!selectedDateFrom && !selectedDateTo">{{'INPUT.ENTER_DATE_RANE' | translate}}</mat-label>
                        <mat-label *ngIf="selectedDateFrom && selectedDateTo">{{selectedDateFrom + ' - ' + selectedDateTo}}</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input formControlName="dateFrom" #matStartDate matStartDate disabled>
                          <input formControlName="dateTo" #matEndDate matEndDate (dateChange)="changeDate(matStartDate.value,matEndDate.value)" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <div class="mb-3 d-flex align-items-center">
                        <button type="button" class="btn btn-secondary ml-2" (click)="clear()">{{'INPUT.CLEAR' | translate}}</button>
                        <button type="button" class="btn btn-secondary ml-2" (click)="printTable()">{{'INPUT.PRINT' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
        <mat-tab-group (selectedTabChange)="changeActiveTab($event)" [selectedIndex]="activeTab">
            <mat-tab label="{{'TITLE.NEW_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 0" [branches]="branches" [statusId]="'bd0a4950-4559-40ce-a6fe-4d081aa7a880'" [customerId]="customerId" [branchId]="branchId" [dateFrom]="dateFrom" [dateTo]="dateTo" [durationType]="durationType"></app-orders-statuses>
            </mat-tab>
            <mat-tab label="{{'TITLE.ACCEPTED_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 1" [branches]="branches" [statusId]="'c91d4598-1bfd-42bb-abaf-c161151cb127'" [customerId]="customerId" [branchId]="branchId" [dateFrom]="dateFrom" [dateTo]="dateTo" [durationType]="durationType"></app-orders-statuses>
            </mat-tab>
            <mat-tab label="{{'TITLE.REJECTED_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 2" [branches]="branches" [statusId]="'f18a701e-55a7-476a-bcaa-c7c894041a29'" [customerId]="customerId" [branchId]="branchId" [dateFrom]="dateFrom" [dateTo]="dateTo" [durationType]="durationType"></app-orders-statuses>
            </mat-tab>
            <mat-tab label="{{'TITLE.SENT_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 3" [branches]="branches" [statusId]="'8ce0ae9c-511b-4992-84a0-b05fa61d1e78'" [customerId]="customerId" [branchId]="branchId" [dateFrom]="dateFrom" [dateTo]="dateTo" [durationType]="durationType"></app-orders-statuses>
            </mat-tab>
            <mat-tab label="{{'TITLE.DELIVERED_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 4" [branches]="branches" [statusId]="'0d014e78-7887-4f53-ab63-94f9fad40193'" [customerId]="customerId" [branchId]="branchId" [dateFrom]="dateFrom" [dateTo]="dateTo" [durationType]="durationType"></app-orders-statuses>
            </mat-tab>
            <mat-tab label="{{'TITLE.ALL_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 5" [branches]="branches" [statusId]="''" [customerId]="customerId" [branchId]="branchId" [dateFrom]="dateFrom" [dateTo]="dateTo" [durationType]="durationType"></app-orders-statuses>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
  