<div class="card card-custom example example-compact gutter-b">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3 d-flex align-items-center">
                    <mat-form-field class="w-100">
                        <mat-select class="py-1" (selectionChange)="changeBranch($event)" placeholder="{{'INPUT.SELECT_BRANCH' | translate }}">
                            <mat-option [value]="''">{{'INPUT.SELECT_BRANCH' | translate }}</mat-option>
                            <mat-option *ngFor="let branch of branches" [value]="branch.id">
                                {{branch.nameEn}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button type="button" class="btn btn-secondary ml-2" (click)="printTable()">{{'INPUT.PRINT' | translate}}</button>
                </div>
            </div>
        </div>
        <mat-tab-group (selectedTabChange)="changeActiveTab($event)">
            <mat-tab label="{{'TITLE.NEW_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 0" [branches]="branches" [statusId]="'bd0a4950-4559-40ce-a6fe-4d081aa7a880'" [branchId]="branchId"></app-orders-statuses>
            </mat-tab>
            <mat-tab label="{{'TITLE.ACCEPTED_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 1" [branches]="branches" [statusId]="'c91d4598-1bfd-42bb-abaf-c161151cb127'" [branchId]="branchId"></app-orders-statuses>
            </mat-tab>
            <mat-tab label="{{'TITLE.REJECTED_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 2" [branches]="branches" [statusId]="'f18a701e-55a7-476a-bcaa-c7c894041a29'" [branchId]="branchId"></app-orders-statuses>
            </mat-tab>
            <mat-tab label="{{'TITLE.SENT_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 3" [branches]="branches" [statusId]="'8ce0ae9c-511b-4992-84a0-b05fa61d1e78'" [branchId]="branchId"></app-orders-statuses>
            </mat-tab>
            <mat-tab label="{{'TITLE.DELIVERED_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 4" [branches]="branches" [statusId]="'0d014e78-7887-4f53-ab63-94f9fad40193'" [branchId]="branchId"></app-orders-statuses>
            </mat-tab>
            <mat-tab label="{{'TITLE.ALL_ORDERS' | translate}}">
                <app-orders-statuses *ngIf="activeTab === 5" [branches]="branches" [statusId]="''" [branchId]="branchId"></app-orders-statuses>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
  