<div class="custom-login-form login-form login-forgot">
  <!-- <img src="./assets/images/logo.svg" alt="Logo" class="w-150px mx-auto d-block mb-8"/> -->
  <!--begin::Form-->
  <form
    *ngIf="step === 1" 
    class="form fv-plugins-bootstrap fv-plugins-framework"
    novalidate="novalidate"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="submit()"
    id="kt_login_forgot_form"
    [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }"
  >
    <!--begin::Title-->
    <div class="pb-5 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h6 font-size-h4-lg">
        {{ "AUTH.FORGOT.TITLE" | translate }}
      </h3>
      <p class="text-muted font-weight-bold font-size-h6">
        {{ "AUTH.FORGOT.DESC" | translate }}
      </p>
    </div>
    <!--end::Title-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="errorState === errorStates.HasError">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">{{ "AUTH.VALIDATION.INVALID" | translate }}</div>
      </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="form-group fv-plugins-icon-container has-danger">
      <input
        class="form-control form-control-solid h-auto py-4 px-3 rounded-lg font-size-h6"
        type="email"
        formControlName="email"
        placeholder="{{ 'INPUT.EMAIL' | translate }}"
        name="email"
        autocomplete="off"
        [ngClass]="{
          'is-invalid': forgotPasswordForm.controls['email'].invalid
        }"
      />

      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Email is required',
          control: forgotPasswordForm.controls['email']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'email',
          message: 'Email is invalid',
          control: forgotPasswordForm.controls['email']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minLength',
          message: 'Email should have at least 3 symbols',
          control: forgotPasswordForm.controls['email']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Email should have maximum 360 symbols',
          control: forgotPasswordForm.controls['email']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->
    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0">
      <button
        type="submit"
        id="kt_login_forgot_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"

      >
      {{ "AUTH.GENERAL.SUBMIT_BUTTON" | translate }}
      </button>
      <a
        routerLink="/auth/login"
        id="kt_login_forgot_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
      >
        {{ "AUTH.GENERAL.CANCEL" | translate }}
      </a>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <div></div>
  </form>

  <form
    *ngIf="step === 2" 
    class="form"
    novalidate="novalidate"
    id="kt_login_signup_form"
    [formGroup]="resetForm"
    (ngSubmit)="reset()"
  >
    <!--begin::Title-->
    <div class="pb-5 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h6 font-size-h4-lg">
        Reset Password
      </h3>
      <p class="text-muted font-weight-bold font-size-h6">
        Enter your new password 
      </p>
    </div>
    <!--end::Title-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark pt-5"
        >Password</label
      >
      <input
        class="form-control form-control-solid h-auto py-4 px-3 rounded-lg font-size-h6"
        type="password"
        placeholder="Password"
        name="password"
        formControlName="password"
        autocomplete="off"
        [ngClass]="{
          'is-invalid': resetForm.controls['password'].invalid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Password is required',
          control: resetForm.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Password should have at least 6 symbols',
          control: resetForm.controls['password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Password should have maximum 100 symbols',
          control: resetForm.controls['password']
        }"
      ></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group">
      <label class="font-size-h6 font-weight-bolder text-dark pt-5"
        >Confirm Password</label
      >
      <input
        class="form-control form-control-solid h-auto py-4 px-3 rounded-lg font-size-h6"
        type="password"
        placeholder="Confirm password"
        name="cPassword"
        autocomplete="off"
        formControlName="cPassword"
        [ngClass]="{
          'is-invalid': resetForm.controls['cPassword'].invalid
        }"
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Confirm Password is required',
          control: resetForm.controls['cPassword']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Confirm Password should have at least 6 symbols',
          control: resetForm.controls['cPassword']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'Confirm Password should have maximum 100 symbols',
          control: resetForm.controls['cPassword']
        }"
      ></ng-container>
      <ng-container
        *ngIf="
          resetForm.controls['cPassword'].errors &&
          resetForm.controls['cPassword'].errors.ConfirmPassword
        "
      >
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            'Passsword' and 'Confirm Password' didn't match.
          </div>
        </div>
      </ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
      <button
        type="submit"
        id="kt_login_signup_submit"
        [disabled]="resetForm.invalid"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
      >
        Submit
      </button>
      <a
        routerLink="/auth/login"
        type="button"
        id="kt_login_signup_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
      >
        Cancel
      </a>
      
    </div>
    <!--end::Form group-->
  </form>
  <!--end::Form-->

  <!--end::Form-->

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div
      class="card card-custom bgi-no-repeat gutter-b"
      style="
        height: 175px;
        background-color: #4ab58e;
        background-position: calc(100% + 1rem) bottom;
        background-size: 25% auto;
        background-image: url(assets/media/svg/humans/custom-1.svg);
      "
    >
      <!--begin::Body-->
      <div class="card-body d-flex align-items-center">
        <div class="py-2">
          <h3 class="text-white font-weight-bolder mb-3">Email is correct!</h3>
          <p class="text-white font-size-lg">
            Message with 'recovery' instruction<br />
            has been sent<br />
          </p>
          <a
            routerLink="/auth/login"
            class="swal2-confirm btn font-weight-bold btn-light-primary"
          >
            Ok, got it!
          </a>
        </div>
      </div>
      <!--end::Body-->
    </div>
  </ng-container>
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
