<div *ngIf="!isDelete">
    <h3> {{ 'INPUT.DELETE_COMPANY' | translate }}</h3>
    <p> {{ 'TITLE.DElETE_com' | translate }}</p>
    <h5 class="mb-6"> {{ 'TITLE.WARING' | translate }}</h5>
    <!-- <button class="btn btn-primary" (click)="downloadPersonalData()">Download</button> -->
    <button class="btn btn-danger mx-2" (click)="deleteUser()">{{ 'INPUT.DELETE' | translate }}</button>
</div>

<div *ngIf="isDelete">
    <h4 class="mat-error mb-5"> {{ 'TITLE.WARING' | translate }}
    </h4>
    <form class="form" [formGroup]="deleteAccount" novalidate="novalidate" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-4">
                    <mat-form-field class="w-100">
                        <input class="py-2" type="password" matInput placeholder="{{ 'INPUT.PASSWORD' | translate }}" formControlName="password" />
                        <mat-error [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                            validation: 'required',
                            message:'AUTH.VALIDATION.PASS' | translate,
                            control: deleteAccount.controls['password']
                            }"></mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" [disabled]="deleteAccount.invalid">
                {{ 'INPUT.DeleteCompany' | translate }}
            </button>
        </div>
    </form>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <mat-error *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                {{ message }}
            </div>
        </div>
    </mat-error>
</ng-template>