<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'TABLE.FILTER' | translate}}" [value]="gridFilter || ''"/>
</mat-form-field>
<div class="example-container mat-elevation-z8 mat-table-container">

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" (matSortChange)="sort($event)" matSort>
    
        <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{ column.field }}">
            <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isDisabledSort(column.field)">
                <ng-container *ngIf="column.field !== 'actions' && column.field !== 'imagePath' && column.field !== 'logo'">
                    <button (click)="stop($event)" class="btn btn-default p-0 h-20px mr-1 grid-view-header-menu" mat-icon-button [matMenuTriggerFor]="menu" >
                        <mat-icon class="h-20px">menu</mat-icon>
                    </button>
                    <mat-menu #menu>
                        <button mat-menu-item (click)="groupBy($event, column);">{{'TABLE.GROUP_BY_THIS_FIELD' | translate}}</button>
                        <button mat-menu-item (click)="unGroupBy($event, column);" >{{'TABLE.UNGROUP' | translate}}</button>
                    </mat-menu>
                </ng-container>
                {{"TABLE."+(column.field | uppercase) | translate}}
            </mat-header-cell>
            <ng-container *ngIf="column.field !== 'actions'">
                <mat-cell *matCellDef="let row" [innerHTML]="row[column.field]">
                </mat-cell>
            </ng-container>
            <ng-container *ngIf="customActions && column.field === 'actions'">
                <mat-cell *matCellDef="let row">
                    <button *ngFor="let customAction of customActions" (click)="action(customAction.name, row.id)"  data-toggle="tooltip" [title]="customAction.name"  class="btn btn-icon btn-light btn-hover-primary btn-sm ml-3">
                        <i [class]="customAction.icon"></i>
                    </button>
                </mat-cell>
            </ng-container>
        </ng-container>
        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    
        <!-- Group header -->
        <ng-container matColumnDef="groupHeader">
            <mat-cell colspan="999" *matCellDef="let group">
                <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
                <mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
                <strong>{{"TABLE."+(groupByColumns[group.level-1] | uppercase) | translate}} = <span [innerHTML]="group[groupByColumns[group.level-1]]"></span> ({{group.totalCounts}})</strong>
            </mat-cell>
        </ng-container>
      
        <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" (click)="groupHeaderClick(row)"> </mat-row>
      
      </mat-table>
      <!-- <mat-paginator [pageSize]="'20'" [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator> -->

    <mat-paginator #matPaginator [showFirstLastButtons]="true" (page)="changePagination($event)" [pageSize]="pagingData.pageSize" [pageIndex]="pagingData.pageIndex" [pageSizeOptions]="[5, 10, 20, 50, 100]">
    </mat-paginator>
</div>