/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");
// Global vendors
@import "~bootstrap/dist/css/bootstrap.css";
// => Material
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Global fonts
@import "~socicon/css/socicon.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/plugins/flaticon/flaticon.css";
@import "./assets/plugins/flaticon2/flaticon.css";
@import "./assets/plugins/keenthemes-icons/font/ki.css";

// Metronic styles (replace these path when using RTL css below)
@import "./assets/sass/style.angular.scss";
// @import "./assets/sass/style.angular.rtl.css";

// For RTL, check this documentation https://keenthemes.com/metronic/?page=docs&section=angular-rtl
// @import "./assets/sass/style.angular.rtl.css";

// Default Layout themes
@import "./assets/sass/themes/layout/header/base/light.scss";
@import "./assets/sass/themes/layout/header/menu/light.scss";
@import "./assets/sass/themes/layout/brand/dark.scss";
@import "./assets/sass/themes/layout/aside/dark.scss";

// Header themes
// .header-base-light {
//     @import "./assets/sass/themes/layout/header/base/light.scss";
// }

// .header-base-dark {
//     @import "./assets/sass/themes/layout/header/base/dark.scss";
// }

// Header Menu themes
// .header-menu-light {
//     @import "./assets/sass/themes/layout/header/menu/light.scss";
// }
// .header-menu-dark {
//     @import "./assets/sass/themes/layout/header/menu/dark.scss";
// }

// Brand themes
.brand-dark {
  @import "./assets/sass/themes/layout/brand/dark.scss";
}

.brand-light {
  @import "./assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// .aside-dark {
//   @import "./assets/sass/themes/layout/aside/dark.scss";
// }

// .aside-light {
//   @import "./assets/sass/themes/layout/aside/light.scss";
// }

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
  display: none !important;
}

.angular-bootstrap-table {
  overflow-x: auto;
}
.angular-bootstrap-table {
  th {
    outline: none;

    &.sortable {
      .svg-icon-sort {
        opacity: 0;
      }

      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }
  }

  .table.table-head-custom thead th.sortable-active {
    color: $primary !important;
  }
}

.cursor-default {
  cursor: default !important;
}

.progress-modal {
  height: 3px;
  width: 100%;
}

/** custom layout **/
.login-main-section {
  background-image: url('./assets/images/Background.svg');
  background-position: center;
  background-size: cover;
}
.custom-login-form {
    background: #ffffffaa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 1px #00000066;
}
.login-content {
  max-width: 450px;
  width: 100%;
}
.lds-ripple {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  z-index: 10000;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  div {
    position: absolute;
    border: 4px solid #127c3b;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    z-index: 100;
    &:nth-child(2) {
      animation-delay: -0.5s;
    }
  }
  &::before {
    content: '';
    position: fixed;
    background: #00000026;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
@keyframes lds-ripple {
  0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
  }
  100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
  }
}

mat-table.mat-table {
  min-width: 750px;
}

.mat-table-container {
  overflow: auto;
}

.mat-cell,
.mat-header-cell {
  min-width:100px;
}

.mat-column-id {
  flex: 1;
}

.my-profile-img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 3px solid #127c3b;
}

.custom-multiple-group-select.mat-optgroup .mat-option {
  padding-left: 40px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #b8e9a8;
}

.mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-color: #c4c4c43d;
}
.form-control:disabled, .form-control[readonly] {
  cursor: not-allowed;
}
.img-table-col {
  max-width: 60px;
  height: 40px;
}
.filter {
  .mat-form-field-appearance-outline {
    .mat-form-field-outline {
      color: rgb(56 93 204 / 30%);
    }
    .mat-form-field-infix {
      border: 0px;
      padding: 5px;
      margin-top: 8px;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}
.delete-item {
  background: transparent;
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  position:absolute;
  right: 10px;
  top: 10px;
  i::before {
    font-size: 18px;
    color: rgb(238, 39, 13);
  }
}
.make-primary {
  background: transparent;
  width: auto;
  height: auto;
  padding: 0;
  border: 0;
  position:absolute;
  left: 10px;
  top: 10px;
  i::before {
    font-size: 18px;
    color: rgb(245, 208, 0);
  }
}

.custom-tree {
  .mat-expansion-panel-header:not([aria-disabled=true]) {
    cursor: pointer;
    margin-bottom: 0;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 0;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
  }
  .mat-expansion-panel-body {
    padding-left: 15px;
    padding-bottom: 5px;
  }
  span.mat-expansion-indicator {
      right: 0px;
      top: 6px;
      position: absolute;
      transform: rotate(0deg)!important;
      &::after {
        transform: rotate(0deg)!important;
      }
  }
  .mat-expanded > span.mat-expansion-indicator {
    top: 4px;
    transform: rotate(0deg)!important;
    &::after {
      transform: rotate(90deg)!important;
    }
  }
  .mat-expansion-panel-content {
      border-left: 1px solid;
      margin-left: 5px;
      margin:0;
      border:0;
  }
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
  .mat-expansion-panel-header,
  .mat-expansion-panel-header.mat-expanded {
    height: auto;
  }
  .mat-expansion-panel-spacing {
    margin: 0;
  }
  mat-expansion-panel-header.mat-expanded mat-panel-title {
    color: #127c3b;
    font-weight: bold;
  }
  .noSub {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
  }
  .mat-expansion-indicator::after {
    border: none;
    background-image: url('assets/images/iconly_light-outline_arrow_-_left_circle.svg');
    padding: 10px;
    transform: rotate(0deg);
    background-position: center;
    background-size: 100%;
  }
  .mat-expansion-panel-header-title {
    // font-family: $regularFont;
    font-size: 17px;
  }
  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    margin-right: 0px;
  }
}
.c-black {
  color:#000;
}
.c-primary {
  color: $primary;
}
.mat-placeholder-required {
  color: red;
}
.mat-select-search-input::placeholder {
  color: transparent;
}