<div class="row">
    <div class="col-12">
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-header align-items-top border-0 mt-4">
                <div class="col bg-light-danger p-2 mt-2 rounded d-flex align-items-center mr-3 mb-7">
                    <p class="text-danger font-weight-bold font-size-xs mb-0">
                        {{'TITLE.DASHBOARD_TIP' | translate}}
                    </p>
                </div>
                <form [formGroup]="FilterForm" novalidate="novalidate">
                    <div class="card-toolbar">
                        <mat-form-field appearance="fill" class="mr-3">
                            <mat-label>{{'INPUT.ENTER_DATE_RANE' | translate}}</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input formControlName="dateFrom" #matStartDate matStartDate placeholder="Start date" disabled>
                                <input formControlName="dateTo" #matEndDate matEndDate (dateChange)="changeDate(matStartDate.value,matEndDate.value)" placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select formControlName="durationType" (selectionChange)="changeFilterType($event)" class="py-1" placeholder="{{'INPUT.SELECT_DURATION' | translate}}">
                                <mat-option [value]="null">{{'INPUT.FILTER_BY' | translate}}</mat-option>
                                <mat-option *ngFor="let item of filter" [value]="item.id">
                                    {{'INPUT.'+item.name | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button type="button" class="btn btn-secondary mb-2 ml-2" (click)="clear()">{{'INPUT.CLEAR' | translate}}</button>
                    </div>
                </form>
            </div>
            <div class="card-body charts-section py-5">
                <div class="d-flex flex-wrap flex-grow-1 py-5 my-5">
                    <a routerLink="/orders/new/{{getFilterHeader()}}" class="flex-fill position-relative" style="height: 200px; width: 180px;">
                        <apx-chart
                            [series]="newOrders"
                            [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis"
                            [yaxis]="chartOptions.yaxis"
                            [dataLabels]="chartOptions.dataLabels"
                            [stroke]="chartOptions.stroke"
                            [legend]="chartOptions.legend"
                            [fill]="chartOptions.fill"
                            [states]="chartOptions.states"
                            [tooltip]="chartOptions.tooltip"
                            [colors]="['#3E454C']"
                            [markers]="chartOptions.markers"
                            [plotOptions]="chartOptions.plotOptions"
                        ></apx-chart>
                        <div class="chart-img">
                            <img class="w-75 mx-auto" src="../../../assets/images/new-order (1).svg" alt="New Orders">
                        </div>
                        <h5 class="text-center">{{'TITLE.NEW_ORDERS' | translate}}<br>{{chartData?.Pending}}/{{totalOrders}}</h5>
                    </a>
                    <a routerLink="/orders/accepted/{{getFilterHeader()}}" class="flex-fill position-relative" style="height: 200px; width: 180px;">
                        <apx-chart
                            [series]="acceptedOrders"
                            [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis"
                            [yaxis]="chartOptions.yaxis"
                            [dataLabels]="chartOptions.dataLabels"
                            [stroke]="chartOptions.stroke"
                            [legend]="chartOptions.legend"
                            [fill]="chartOptions.fill"
                            [states]="chartOptions.states"
                            [tooltip]="chartOptions.tooltip"
                            [colors]="['#4A8927']"
                            [markers]="chartOptions.markers"
                            [plotOptions]="chartOptions.plotOptions"
                        ></apx-chart>
                        <div class="chart-img">
                            <img class="w-75 mx-auto" src="../../../assets/images/Accepted (1).svg" alt="Accepted Orders">
                        </div>
                        <h5 class="text-center">{{'TITLE.ACCEPTED_ORDERS' | translate}}<br>{{chartData?.Accepted}}/{{totalOrders}}</h5>
                    </a>
                    <a routerLink="/orders/rejected/{{getFilterHeader()}}" class="flex-fill position-relative" style="height: 200px; width: 180px;">
                        <apx-chart
                            [series]="rejectedOrders"
                            [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis"
                            [yaxis]="chartOptions.yaxis"
                            [dataLabels]="chartOptions.dataLabels"
                            [stroke]="chartOptions.stroke"
                            [legend]="chartOptions.legend"
                            [fill]="chartOptions.fill"
                            [states]="chartOptions.states"
                            [tooltip]="chartOptions.tooltip"
                            [colors]="['#86511A']"
                            [markers]="chartOptions.markers"
                            [plotOptions]="chartOptions.plotOptions"
                        ></apx-chart>
                        <div class="chart-img">
                            <img class="w-75 mx-auto" src="../../../assets/images/Rejected.svg" alt="Rejected Orders">
                        </div>
                        <h5 class="text-center">{{'TITLE.REJECTED_ORDERS' | translate}}<br>{{chartData?.Rejected}}/{{totalOrders}}</h5>
                    </a>
                    <a routerLink="/orders/sent/{{getFilterHeader()}}" class="flex-fill position-relative" style="height: 200px; width: 180px;">
                        <apx-chart
                            [series]="sentOrders"
                            [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis"
                            [yaxis]="chartOptions.yaxis"
                            [dataLabels]="chartOptions.dataLabels"
                            [stroke]="chartOptions.stroke"
                            [legend]="chartOptions.legend"
                            [fill]="chartOptions.fill"
                            [states]="chartOptions.states"
                            [tooltip]="chartOptions.tooltip"
                            [colors]="['#39869A']"
                            [markers]="chartOptions.markers"
                            [plotOptions]="chartOptions.plotOptions"
                        ></apx-chart>
                        <div class="chart-img">
                            <img class="w-75 mx-auto" src="../../../assets/images/send-order.svg" alt="Sent Orders">
                        </div>
                        <h5 class="text-center">{{'TITLE.SENT_ORDERS' | translate}}<br>{{chartData?.Sent}}/{{totalOrders}}</h5>
                    </a>
                    <a routerLink="/orders/delivered/{{getFilterHeader()}}" class="flex-fill position-relative" style="height: 200px; width: 180px;">
                        <apx-chart
                            #delivered
                            [series]="deliveredOrders"
                            [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis"
                            [yaxis]="chartOptions.yaxis"
                            [dataLabels]="chartOptions.dataLabels"
                            [stroke]="chartOptions.stroke"
                            [legend]="chartOptions.legend"
                            [fill]="chartOptions.fill"
                            [states]="chartOptions.states"
                            [tooltip]="chartOptions.tooltip"
                            [colors]="['#3E454C']"
                            [markers]="chartOptions.markers"
                            [plotOptions]="chartOptions.plotOptions"
                        ></apx-chart>
                        <div class="chart-img">
                            <img class="w-100" src="../../../assets/images/Delivered.svg" alt="Delivered Orders">
                        </div>
                        <h5 class="text-center">{{'TITLE.DELIVERED_ORDERS' | translate}}<br>{{chartData?.Delivered}}/{{totalOrders}}</h5>
                    </a>
                </div>
                <div class="row my-5 pt-5">
                    <div class="col-md-3"></div>
                    <div class="px-5 mb-5 col-md-3">
                        <a routerLink="/customers/{{getFilterHeader()}}" class="dashboard-main-link">
                            <span>
                                <span class="num">{{totalCustomers}}</span>
                                {{'TITLE.TOTAL_CUSTOMERS' | translate}}
                            </span>
                            <span class="indecator">
                                <img src="../../../assets/images/arrow-pointing-to-right_(3).svg" alt="arrow">
                            </span>
                        </a>
                    </div>
                    <div class="px-5 mb-5 col-md-3">
                        <a routerLink="/orders/all/{{getFilterHeader()}}" class="dashboard-main-link">
                            <span>
                                <span class="num">{{totalOrders}}</span>
                                {{'TITLE.TOTAL_ORDERS' | translate}}
                            </span>
                            <span class="indecator">
                                <img src="../../../assets/images/arrow-pointing-to-right_(3).svg" alt="arrow">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>          
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-header border-0 py-0 border-bottom">
                <h3 class="card-title d-flex align-items-center">
                    <span class="card-label font-weight-bolder text-dark">{{'TITLE.TOP_10_ITEMS' | translate}}</span>
                </h3>
                <div class="card-toolbar">
                    <mat-form-field>
                        <mat-select (selectionChange)="changeMonthItems($event)" class="py-1" placeholder="{{'INPUT.FILTER_BY' | translate}}">
                            <mat-option [value]="null">{{'INPUT.FILTER_BY' | translate}}</mat-option>
                            <mat-option *ngFor="let item of months" [value]="item.id">
                                {{'LOOKUPS.'+(item.name | uppercase) | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="card-body custom pt-0 pb-3">
                <div class="tab-content">
                    <div class="table-responsive">
                        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                            <thead>
                                <tr class="text-left text-uppercase">
                                    <th style="min-width: 250px;" class="pl-7">
                                    </th>
                                    <th style="min-width: 100px;">
                                        <span class="text-dark-75">{{'TABLE.COUNT' | translate}}</span>
                                    </th>
                                    <th style="min-width: 100px;">
                                        <span class="text-dark-75">{{'TABLE.AMOUNT' | translate}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of topItems" class="border-bottom">
                                    <td class="pl-0 py-3">
                                        <div class="d-flex align-items-center">
                                            <div class="symbol symbol-50 symbol-light mr-4">
                                                <img [src]="item.imagePath" class="img-table-col"/>
                                            </div>
                                            <div>
                                                <a class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg cursor-pointer">
                                                    {{item.name}}
                                                </a>
                                                <!-- <span class="text-muted font-weight-bold d-block">HTML, JS, ReactJS</span> -->
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                            {{item.totalOrders}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                            {{item.totalSales}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-header border-0 py-0 border-bottom">
                <h3 class="card-title d-flex align-items-center">
                    <span class="card-label font-weight-bolder text-dark">{{'TITLE.TOP_10_CUSTOMERS' | translate}}</span>
                </h3>
                <div class="card-toolbar">
                    <mat-form-field>
                        <mat-select (selectionChange)="changeMonthCustomers($event)" class="py-1" placeholder="{{'INPUT.FILTER_BY' | translate}}">
                            <mat-option [value]="null">{{'INPUT.FILTER_BY' | translate}}</mat-option>
                            <mat-option *ngFor="let item of months" [value]="item.id">
                                {{'LOOKUPS.'+(item.name | uppercase) | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="card-body custom pt-0 pb-3">
                <div class="tab-content">
                    <div class="table-responsive">
                        <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                            <thead>
                                <tr class="text-left text-uppercase">
                                    <th style="min-width: 250px;" class="pl-7">
                                    </th>
                                    <th style="min-width: 100px;">
                                        <span class="text-dark-75">{{'TABLE.COUNT' | translate}}</span>
                                    </th>
                                    <th style="min-width: 100px;">
                                        <span class="text-dark-75">{{'TABLE.AMOUNT' | translate}}</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of topCustomers" class="border-bottom">
                                    <td class="pl-0 py-3">
                                        <div class="d-flex align-items-center">
                                            <!-- <div class="symbol symbol-50 symbol-light mr-4">
                                                <img src="../../../assets/images/Capture{{item}}.PNG" class="img-table-col"/>
                                            </div> -->
                                            <div>
                                                <a class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg cursor-pointer">
                                                    {{item.name}}
                                                </a>
                                                <span class="text-muted font-weight-bold d-block direction-ltr">{{item.email}}</span>
                                                <span class="text-muted font-weight-bold d-block direction-ltr">{{item.phoneNumber}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                            {{item.count}}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                            {{item.totalPurchases}}
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-header border-0 py-0 border-bottom">
                <h3 class="card-title d-flex align-items-center">
                    <span class="card-label font-weight-bolder text-dark">{{'TITLE.EXPECTED_DELIVERED_ORDERS' | translate}}</span>
                </h3>
            </div>
            <div class="card-body pt-0 pb-3">
                <div class="tab-content">
                    <div class="table-responsive">
                        <app-offline-table [customActions]="customActions" [displayedColumns]="displayedColumns" [gridData]="expectedDeliveredOrders" (actionsEvent)="actionsEvent($event)"></app-offline-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
